<%= javascript_include_tag 'toogle-groups' %>

<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation" class="messages">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <%= f.label :state %>
    <%= f.select(:state, options_for_select([['DALLAS', 'dallas'], ['AUSTIN', 'austin'], ['HUSTON', 'huston']], @property.state.to_s), {}, {:autocomplete => 'off', :class => 'form-control'}) %>
  </div>
  <div class="field row">
    <%= f.label :address %>
    <%= f.text_area :address, :class => 'form-control' %>
  </div>
  <div class="field row">
    <%= f.label :roof_type %>
    <%= f.text_field :roof_type, :class => 'form-control' %>
  </div>
  <div class="field group group-dallas hidden row">
    <%= f.label :bedrooms %>
    <%= f.number_field :bedrooms, :class => 'form-control' %>
  </div>
  <div class="field group group-dallas hidden row">
    <%= f.label :bathrooms %>
    <%= f.number_field :bathrooms, :class => 'form-control' %>
  </div>
  <div class="field group group-austin hidden row">
    <%= f.label :dining_area %>
    <%= f.check_box :dining_area, include_hidden: !@property.new_record %>
  </div>
  <div class="field group group-austin hidden row">
    <%= f.label :kitchen %>
    <%= f.check_box :kitchen, include_hidden: !@property.new_record %>
  </div>
  <div class="field group group-huston hidden row">
    <%= f.label :pool %>
    <%= f.check_box :pool, include_hidden: !@property.new_record %>
  </div>
  <div class="field group group-huston hidden row">
    <%= f.label :garage %>
    <%= f.check_box :garage, include_hidden: !@property.new_record %>
  </div>
  <div class="actions row">
    <%= f.submit :class => 'btn btn-primary'  %>
  </div>
<% end %>
