<h1>Listing Properties</h1>

<table class="table table-hover" >
  <tbody>
    <% @properties.each do |property| %>
      <tr class="row">
        <td class="col-md-9"><%= link_to( property.state + ' ' + property.address, property ) %></td>  
        <td><%= property.status.to_i == 1 ? 'For sale' : 'Pending' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path, :class => 'btn btn-primary' %>
