<h2><%= @property.address %></h2>

<p class='percentage'><%= @property['metas']['percent'] %>% Complete</p>

<% if !@property['metas']['missing_fields'].empty? %>

  <p>Missing Fields: <%= @property['metas']['missing_fields'].join(", ") %></p>
<% end %>

<% if !@property.status && @property['metas']['percent'] == 100 %>
<p>
	<%= link_to "Sell House", sell_properties_path(@property), :class => 'btn btn-success' %>
</p>
<% end %>

<% if user_can_edit(@property) %>
  <p>
    <%= link_to 'Edit', edit_property_path(@property), :class => 'btn btn-warning' %> 
    <%= link_to 'Delete', @property, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger' %> |
    <%= link_to 'Back', properties_path, :class => 'btn btn-info' %>
  </p>
<% end %>

<% #byebug %>
