/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

body {
	color: #000;
}

header {
	background: #2896d3;
	padding: 5px 0;
	color: #efefef;
}
	header .logo {
		margin: 0;
	}
	header .user_nav {
		float: right;
	}
		header .user_nav.nav li {
			display: inline-block;
		}
		header .user_nav.nav li.welcome-link a {
			display: inline-block;
			color: #fff;
		}
		header .user_nav.nav li a:hover {
			background: none;
		}
		header .user_nav.nav li.welcome-link span {
			color: #ccc;
		}
a, a:visited {
	color: #46a5da;
}
a.btn {
	color: #fff;
}
.hidden{display: none;}

.sessions-new .content, 
.registrations-new .content, .registrations-edit .content, 
.properties-new .content, .properties-edit .content{
	width: 60%;
	margin: 0 auto;
	max-width: 350px;
}
	.sessions-new .content form, 
	.registrations-new .content form,
	.registrations-edit .content form {
		width: 100%;
	}
		.sessions-new .content .extra-links{
			color: #aaa;
		}

.properties-new .content form, .properties-edit .content form {
	width: 100%;
}
.registrations-edit .cancel-form form {
	display: inline-block;
	width: auto;
}
.properties-show .content {
	/*width: 60%;*/
	margin: 0 auto;
}