<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller_name + '-' + action_name %>' >

<header class="container-fluid">
	<div class="row">
		<div class="col-xs-5" >
			<h1 class='logo '>Rails test</h1>
		</div>
		<div class="col-xs-7" >
			<nav class="user_nav nav">
				<% if user_signed_in? %>
					<li class="welcome-link">
						<span>Signed in as</span> <%= link_to current_user[:email], edit_user_registration_path, :class => 'btn btn-link' %>
					</li>
					<li>	
						<%= link_to('Sign out', destroy_user_session_path, :method => :delete, :class => 'btn btn-info') %>
					</li>
				<% elsif /(^\/user\/[sign_up|sign_in])/.match( request.url ) %>
					<%= link_to 'Sign in', new_user_session_path,:class => 'btn btn-info' %>
					<%= link_to 'Sign up', new_user_registration_path,:class => 'btn btn-link' %>
				<% end %>
			</nav>
		</div>
	</div>		
</header>

<div class="container-fluid" >

	<div class="messages">
		<p class="notice"><%= notice %></p>
		<p class="alrt"><%= alert %></p>
	</div>

	<div class='content'>
		<%= yield %>
	</div>

</div>

</body>
</html>
