<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field row">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field row">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field row">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",:class => 'form-control' %>
  </div>

  <div class="field row">
    <%= f.label :subscription, 'Plan' %>
    <%= f.select(:subscription, options_for_select([['1', 1], ['2', 2], ['3', 3]]), {}, {:class => 'form-control'}) %>
  </div>

  <div class="actions row">
    <%= f.submit "Update", :class => 'btn btn-primary' %>
  </div>
<% end %>

<hr>

<div class="cancel-form" >
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-warning' %>
  <%= link_to "Back", :back, :class => 'btn btn-info' %>
</p>
</div>