<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field row">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
  </div>

  <div class="field row">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
  </div>

  <div class="field row">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
  </div>


  <div class="field row">
    <%= f.label :subscription, 'Plan' %>
    <em>(Number of house to sell)</em>
    <%= f.select(:subscription, options_for_select([['1', 1], ['2', 2], ['3', 3]]), {}, :class => 'form-control') %>
  </div>

  <div class="actions row">
    <%= f.submit "Sign up", :class => 'btn btn-primary' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
